@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theming */
/* foreground means text color */ 
@layer base {
  :root {
    --background: 300 17% 91%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 300 17% 91%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --card: 300 17% 91%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 245 88% 62%;
    --primary-foreground: 300 17% 91%;
 
    --secondary: 314 100% 47%;
    --secondary-foreground: 300 17% 91%;
 
    --accent: 262 72% 68%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 262 72% 68%;
 
    --radius: 0.5rem;
  }
 
  .dark, [data-theme='dark'] {
    /* --background: 0 0% 23%; */
    /* --background: 262 80% 22%; */
    --background: 262 80% 18%;
    --foreground: 300 17% 91%;
 
    --muted: 262 81% 35%;
    --muted-foreground: 300 17% 91%;
 
    --popover: 262 80% 18%;
    --popover-foreground: 300 17% 91%;
 
    --card: 262 80% 18%;
    --card-foreground: 300 17% 91%;
 
    --border: 262 72% 68%;
    --input: 262 72% 68%;
 
    --primary: 245 88% 62%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 316 70% 50%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 262 72% 68%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 262 72% 68%;
 
    --radius: 0.5rem;
  }
}

/* Custom styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  html::-webkit-scrollbar-thumb {
    @apply bg-accent;
  }
  body {
    @apply bg-background text-foreground;
  }
  .glassmorphism {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  }
}
